.toptext {
  background-color: #1A065F;
  color: #CBBEF8;
  text-align:center;
}

.lowertext {
  background-color: #B8B8B8;
  padding: 1em;
}

body {
  background-image: url("record.png");
  background-repeat: repeat-repeat;
  margin: 0;
}
